#page-landing{
    height: 100vh;
    background-image: url('../images/landing.svg')no-repeat;
    background-position: 35vw bottom;
    background-position-y: 7vw;
}

#page-landing #container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page-landing header{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-landing main{
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-landing main h1{
    font-size: 54px;
}

h1{
    color: #B17BEC;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
}

p{
   color: #67647E;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 38px;
   margin-top: 24px
}

.nav a{
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: #B17BEC;
    transition: 400ms;
    text-transform: uppercase;
    font-size: 20px;
}

.nav a:hover{
    background: #9164c2;
}

.nav a span{
    width: 72px;
    height: 72px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a span::after{
    content:"";
    background-image: url('../images/addOrgs.svg');
    width: 38px;
    height: 38px;
}

.nav a+a span::after{
    content:"";
    background-image: url('../images/localmark.svg');
    width: 38px;
    height: 38px;
}

.nav a strong{
    flex: 1;
    color: white;
    text-align: center;
}