<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/page-landing.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
    <title>Gifty - Orgs.love</title>
</head>
<body>
    <div id="page-landing">
        <div id="container">
          <header>
            <img id="logo"  src="/public/images/logo.svg" alt="Logomarca do Gifty" />
          </header>
  
          <main>
            <h1>Esperança é o melhor presente</h1>
  
            <section class="nav">
              <p class="animate-up">Ajude ongs de sua cidade a fazer do natal um dia feliz para todos.</p>
  
              <a  href="#" title="Adicionar Ongs">
                <span></span><strong>Adicionar uma Ong</strong>
              </a>
              <a href="./ongs-loves.html" title="Encontrar Ongs">
                <span></span><strong>Encontrar uma Ong</strong>
              </a>
            </section>
          </main>
        </div>
      </div>
</body>
</html>